<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="background-color: rgba(27, 134, 116, 0.651);">
    <!-- This next nav is the navigation bar at the top of each page (inspiration from bootstrap)-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/basic">Basic NodeJS</a>
              <a class="nav-link" href="/expressTerminal">Express & Terminal</a>
              <a class="nav-link" href="/focusedTopic">Own topic</a>
            </div>
          </div>
        </div>
      </nav><br>
    <h1 style="text-align: center;">Express and the terminal</h1>
    <pre style="text-align: center;">We will on this page demonstrate how we work with the <i>terminal</i>
as we use the different tools in our toolbelts, such as <b>git commands</b> and <b>npm</b>.
Then will we look at <i>express</i> and how we ready an <i>express</i> projects.</pre>
</body>
</html>