<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Document</title>
    <style>
        pre{
            text-align: center;
        }
        h1{
            text-align: center;
        }
        dt{
            text-align: left;
        }
        dd{
            text-align: left;
        }
    </style>
</head>
<body style="background-color: rgba(198, 204, 206, 0.651); min-height: 75rem; padding-top: 4.5rem;">
   <!--FIXED NAVBAR START-->

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/basic">Basic NodeJS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/express">Express</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/terminal">Terminal</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--FIXED NAVBAR END-->
<div class="container">
    <h1 style="text-align: center;">Express</h1>
    <pre style="text-align: center;">
On this page will we be looking at <i>express</i> and how we ready an <i>express</i> projects.</pre><br>
<div style="margin: auto; display:flex;">
  <pre>Before we cant begin the work with our <i>NodeJS</i> programs, we might want to install and use <i>express</i>. 
      <dl>
          <dt>1. Create a project folder</dt>
          <dd>You simply need to make a folder, which we can then use in a workspace. When we are working with express, would we want to 
make a Javascript file called <i>app.js</i> (standard) and a JSON file called <i>package.json</i> to create dependencies.</dd>
          <dt>2. Create a package.json file (create dependencies)</dt>
          <dd>Create a new file and name it (name).json. Then we new to ensure that we actually make it a Json by using the "{}". 
We are now ready to declare the <i>dependencies</i> for the project. When we do that, should we remember to think "key & values". 
First we need the key which is <i>"dependencies":</i> and the value is what is inside the "{}". Inside of those, will we have a new key & value pair. 
As we are wanting to work with express, will the next key be <i>"express":</i> and the value will be the version of the key (express) we will be running. 
So the final result would be:
{
  "dependencies": {
      "express": "^4.17.1"
  }
}
We can then add more <i>dependencies</i> inside of the tags in the key & value format.</dd>
          <dt>3. Install express for our project with <i>npm install</i></dt>
          <dd>We have now made the dependencies for our <i>NodeJS</i> project but we have not yet installed express for our project, which we will do now.
For that would we need to use <i>npm</i>(Node Package Manager) to install express. We do that by a terminal command called <i>npm install</i> or just <i>npm i</i>.
This command looks in our created <i>package.json</i> file and install the dependencies that we have defined, which in this case is only <i>express</i>. 
This command should be the first thing you do, when you recieve a NodeJS program from another person, to ensure that you run the program with the correct dependencies.
<!--INSERT PICTURE OF COMMAND LINE HERE--></dd>
          <dt>4. Tell NodeJS that we want to use express (require)</dt>
          <dd>As we have now installed express and other eventual dependencies, will we now have to "tell" our <i>app.js</i> (Node program) that we want to use express.
We do this by first importing the express module (that we just installed) from our newly generated <i>node_modules</i> folder, with the <i>require</i> funtion.
How we do this, is showned here: 
      <b>const</b> express = require('express');
      <b>const</b> app = express();

We create and constant called <i>express</i> which we then use to hold the express module.
Then we create a new constant called app, which would be the constant we use to create our callbacks.    </dd>
          <dt>5. Create a listen callback</dt>
          <dd>The last step we need to do before we can use our program. We need to define how the program communicates. 
We do this with the <i>listen</i> function which we call on our app constant, we just created. 
The <i>listen</i> function will be a callback, that takes the port we run the program on and optionally an error. It is this function that enable us to run the program. 
A good practise would be to tell the user that the program is running and at what port in the console. Example: 

      app.listen(8080, (error) => {
          if(error){
              console.log("The program experienced an error" + error);
          }else {
              console.log("Starting program on port: ", 8080);
          }
      });</dd>
      </dl>
  </pre>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>