<!DOCTYPE html>
<html>
    <head>
        <title>Front Page</title>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body style="background-color: rgba(198, 204, 206, 0.651); min-height: 75rem; padding-top: 4.5rem;">
<!--FIXED NAVBAR START-->

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/basic">Basic NodeJS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/express">Express</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/terminal">Terminal</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--FIXED NAVBAR END-->

          <h1 style="text-align: center;">Frontpage of mandatory 1, NodeJS</h1>
          <pre style="text-align: center;">
  Welcome to the frontpage of my first Mandatory project in NodeJS. I chosen to to split the project up in 3 parts. 
  The basic concepts of NodeJS, where we find all the different topics we have learned so far. 
  Then there is the page where i focus on express, with the setup and usage. 
  At last will we go through how we work with the terminal, with npm, git and more.
  You can navigate around the pages with the navigation bar or the cards on the this page.
          
  Project made by William Omø
</pre><br>
<div style="margin: auto; width:50%; display:flex;">
  <div class="card" style="width: 18rem; float:left; margin:2rem">
    <img src="/visuals/nodeLogo.png" class="card-img-top" alt="Cant find the picture location">
    <div class="card-body">
      <h5 class="card-title">Basic NodeJS</h5>
      <p class="card-text">This page is for the basic parts of NodeJS, such as Arrays, variables and functions.</p>
      <a href="/basic" class="btn btn-outline-dark">Go to Basics page</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;float:left; margin:2rem">
    <img src="/visuals/express.png" class="card-img-top" alt="Cant find the picture">
    <div class="card-body">
      <h5 class="card-title">Express</h5>
      <p class="card-text">This page if for using and setting up Express</p>
      <a href="/express" class="btn btn-outline-dark">Go to express page</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;float:left; margin:2rem">
    <img src="/visuals/image-10.png" class="card-img-top" alt="Cant find the picture location">
    <div class="card-body">
      <h5 class="card-title">Terminal</h5>
      <p class="card-text">This page is for the commands we are using in the terminal, such as <i>git</i>, <i>node(mon)</i> and <i>npm</i></p>
      <a href="/terminal" class="btn btn-outline-dark">Go to terminal page</a>
    </div>
  </div>
</div>

<!--Footer made with the navbar design-->
<nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active"><strong>By William Omø</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://github.com/Omoezone" target="_blank">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://www.linkedin.com/in/william-om%C3%B8-a82a54140/" target="_blank">LinkedIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Go to top</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>